*{
    margin: 0;
    padding: 0;
}



#nav-lateral{
	position: absolute; 
	width: 17%;
    height: 220%;
	/* background-color: #00a16bd0; */
    background-color: #2BA7FF ;
}


.nav-late a{
    color: rgb(253, 247, 247) !important;
    font-size: 110% !important;
    font-weight: bold !important;
    padding: 20px !important;
}


.nav-late{
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
}

.nav-late:hover{
    background-color: #0371c0;
}


#logo-img{
    margin-left: -60px;
    width: 35%;
    height: 40%;
}

#content{
    border-top: 4px solid #2BA7FF !important;
    width: 100%;
    margin-top: 0%;
    margin: 0 auto;
    padding: 0px;
}
h1{
    font-weight: bolder;
    color: (#0371c0);
}

.box{
    position: relative;
    display: block;
    background-color: rgba(19, 146, 104, 0);
    height: 100%;
    text-align: center;
    margin-left: 220px;
    min-height: 935px;
    padding:22% 0%;
    font-weight: bold;
    color: rgb(92, 60, 60);
}   

.imagen {
    width: 1800px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    margin-left: 255px;
}

footer{
    margin-top:1050px ;
    position: relative;
}